*,a,h1,h2,h3,h4,h5,h6,p,ul,video,audio,iframe,section,header,footer{
	padding: 0;
	margin: 0;
}
html, body {
	background-image: url(../images/Daco_32172.svg);
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
	max-width: 2560px;
	font-family:  'Source Sans Pro', sans-serif;
	font-weight: 400;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
	background-color: #1D1F2C;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.container{
	max-width: 1190px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	width:100%;
}
@font-face{
	font-family: 'Lato';
	src:url('./fonts/');
}
img{
	width:100%;
}
a,
a:hover{
	text-decoration: none;
}
.break-all{
	word-break: break-all;
}
.btn{
	border: none;
	border-radius: 3px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	outline: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	transition: 0.3s all linear;
}
.btn.btn-primary{
	background-color: #7BF6BF;
	color: #0F1017;
	text-align: center;
}
.btn-primary:hover,
.btn-primary:focus{
	background:	#7BF6BF;
	box-shadow: 0 1px 9px 1px #7BF6BF !important;
}
.btn:hover,
.btn:active,
.btn:focus{
	outline: none;
	box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.1);
	transition: 0.3s all linear;
}
.btn-primary-outline{
	border: 1px solid #7BF6BF;
	background-color: transparent;
	color:#0F1017;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus{
	background-color:transparent	;
	color:#0F1017;
	box-shadow:  0 1px 9px 1px #7BF6BF  !important;
	transition: 0.3s all linear;
}
.wrap {
	width: 100%;
	float: left;
}
nav.navbar{
	padding: 50px 0px 58px 0px;
}
nav.bg-dark{
	background-color: #101010 !important;
}
nav.navbar-dark .navbar-brand {
	padding: 0;
}
#headerMenu > ul{
	margin-right: 18px;
}
#headerMenu li{
	padding:0 18px;
}
#headerMenu a{
	padding: 0;
	color: #9DA7BD;
	font-family:  'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	opacity: 0.800000011920929;
	text-align: right;
	transition: 0.3s all linear;
}
#headerMenu a:hover,
#headerMenu a:focus{
	color: #FFFFFF;
	transition: 0.3s all linear;
}
.flag{
	background-size: cover;
	background-position: center center !important;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	overflow: hidden;
}
.flag.us{
	background-image: url('../images/icons/icon-usa.png');
}
h2{
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 46px;
	font-weight: 400;
	line-height: 57px;
}
.announcement-wrap .black-box {
	background-color: #1A1B27;
	border: 1px solid #000000;
	border-radius: 20px;
	box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.33);
	width: 1160px;
	width: 100%;
	padding: 57px 69px 71px 91px;
	margin: 0 auto;
}
.announcement-wrap .title-wrap{
	padding-bottom: 45px;
	text-align: center;
}
.announcement-wrap .text_wrap p{
	color: #1A1C27;
	font-family:'Source Sans Pro',sans-serif;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	padding: 9px 31px 15px 21px;
}
.announcement-wrap .para_text_box p{
	color: #FFFFFF;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 22px;
	line-height: 27.65px;
	text-align: left;
	margin-bottom: 30px;
}
.announcement-wrap .para_text_box p .green{
	color: #7BF6BF;
}
.announcement-wrap .para_text_box ul li{
	color: #7BF6BF;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 22px;
	line-height: 27.65px;
	text-align: left;
}
.announcement-wrap ul{
	padding-left: 25px;
}
.announcement-wrap .wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 82px;
}
.announcement-wrap .center{
    background-color: #FFEB90;
	border-radius: 24px;	
}
.btn-join img {
    width: 18px;
    height: 16px;
    margin-right: 2px;
}
.btn-join{
	position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 23px 16px 19px;
    text-align: center;
   
}
.ecosystem .black-box {
	box-shadow: none;
	margin-top: 30px;
}
.ecosystem .black-box:first-child{
	margin-top: 0;
}
.ecosystem .title-wrap{
	padding-top: 70px;
	padding-bottom: 14px;
}
.ecosystem .title-wrap h2 .purple{
	color: #DA58EB;
}
.ecosystem .title-wrap span{
	color: #9DA7BD;
	font-family:'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: left;
}
.ecosystem  {
    padding-top: 149px;
    padding-bottom: 200px;
}
.ecosystem .title-wrap h2{
	margin-top: 23px;
}
.ecosystem .content-wrapper{
	padding-left: 19%;
}
.black-box #ftx-icon {
    max-width: 141px;
    height: 60px;
}
.black-box #solana-icon {
    max-width: 180px;
    height: 60px;
}
.ecosystem .black-box {
    background-color: #000000;
    max-width: 368px;
    width: 100%;
    padding: 34px 40px 33px 30px;
}
.ecosystem .black-box {
    box-shadow: none;
    margin-top: 50px;
}
.ecosystem .black-box.right-side {
	margin-left: auto;
	margin-top: 66px;
}
section.msrm-wrap{
	background-color: #CBE4E8;
	width: 100%;
}
.msrm-wrap .msrm-wrapper-content{
	padding: 81px 0;
}
.btn-chat{
	color: #0F1017;
	font-family:'Lato', sans-serif;;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	padding: 23px 52px 23px 54px;
}
.msrm-wrap .text-box{
	color: #0F1017;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	line-height: 25px;
	text-align: left;
	padding-top: 6px;
	padding-bottom: 40px;
}
.msrm-wrap .title-wrap h2{
	color: #0F1017;
}
.msrm-wrap .img-wrap .msrm_image{
	width: 110%;
	margin-top: -150px;
	margin-right: 20px;
}
footer{
    width: 100%;
    float: left;
    padding-top: 133px;
}
footer .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .right {
    max-width: 215px;
}
footer .left .img-wrap {
    margin-top: -40px;
}
footer .right img{
    max-width: 120px;
    margin: 0 auto;
}
footer .social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -40px;
}
#copyTextBtn{
    position: relative;
}
footer .copyright{
    width: 100%;
    float: left;
    padding: 28px 0 40px 0;
    border-top:1px solid rgba(230, 225, 221, 0.1);
    margin-top: 46px;
}
footer .social a{
    margin-right:30px;
}
footer .social a:last-child{
    margin-right: 0;
}
footer .copyright p{
    color: #9DA7BD;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.800000011920929;
    text-align: center;
}
@media(min-width: 768px) and (max-width: 1024px){
	header a.navbar-brand {
		max-width: 190px;
	}
	nav.navbar{
		padding: 23px 0 23px 0;
	}
	#headerMenu li {
		padding: 0 7px;
	}
	span#countries_title {
		font-size: 15px;
		line-height: 18px;
	}
	.dd .arrow {
		font-size: 14px;
		line-height: 17px;
		right: 8px;
	}
	.dd .ddTitle {
		width: 95px;
		height: 36px;
		padding: 5px;
	}
	.dd .ddChild {
		min-width: 95px;
	}
	#countries_msdd ul li {
		padding: 4px 10px;
	}
	h2 {
		font-size: 28px;
		line-height: 32px;
	}
	.flag {
		width: 28px;
		height: 28px;
	}
	p {
		font-size: 16px;
		line-height: 24px;
	}
	.btn-join {
		padding: 14px 20px;
	}
	.announcement-wrap .para_text_box p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	.announcement-wrap .black-box {
		padding: 40px 50px 65px 70px;
		margin: 0 auto;
	}
	.announcement-wrap .wrap {
		margin-bottom: 60px;
	}
	.announcement-wrap .title-wrap {
		padding-bottom: 40px;
		text-align: center;
	}
	.announcement-wrap .para_text_box ul li {
		font-size: 16px;
		line-height: 24px;
	}
	.announcement-wrap .text_wrap p {
		font-size: 16px;
		padding: 9px 28px 10px 21px;
	}
	.btn-chat {
		font-size: 16px;
		padding: 20px 50px;
	}
	.msrm-wrap .text-box {
		font-size: 20px;
		line-height: 24px;
	}
	.msrm-wrap .msrm-wrapper-content {
		padding: 75px 0;
	}
	footer .left .img-wrap {
		width: 100%;
	}

}	
@media(max-width: 767px){
	.container{
		max-width: 560px;
	}
	dd .arrow, span#countries_title {
		font-size: 14px;
		line-height: 18px;
	}
	.dd .ddTitle {
		width: 85px;
		height: 38px;
		padding: 4px;
	}
	.dd .arrow {
		font-size: 14px;
		right: 5px;
		top: 53%;
	}
	#countries_msdd ul li {
		padding: 4px 8px;
	}
	.flag {
		width: 24px;
		height: 24px;
	}
	span.navbar-text {
		display: block;
		text-align: left;
	}
	.dd .ddChild {
		min-width: 85px;
	}
	nav.navbar {
		padding: 20px 15px 20px 15px;
	}
	header a.navbar-brand {
		max-width: 150px;
	}
	h2 {
		font-size: 30px;
		line-height: 28px;
		text-align: center;
	}
	.ecosystem .black-box {
		margin-top: 16px;
	}
	.announcement-wrap .para_text_box p {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.announcement-wrap .black-box {
		padding: 20px 16px 25px 20px;
	}
	.announcement-wrap .text_wrap p {
		font-size: 14px;
		padding: 9px 21px 10px 21px;
	}
	.announcement-wrap .center {
		margin: 15px 0;
	}
	.announcement-wrap .img-wrap{
		max-width: 80%;
	}
	.announcement-wrap .wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	.announcement-wrap .title-wrap {
		padding-bottom: 40px;
		text-align: center;
	}
	.announcement-wrap .para_text_box ul li {
		font-size: 14px;
		line-height: 20px;
	}
	.btn-join {
		font-size: 14px;
	}
	.btn-chat {
		font-size: 14px;
		line-height: 20px;
		padding: 20px 30px;
	}
	.msrm-wrap .content-wrapper{
		justify-content: center;
	}
	.msrm-wrap .text-box {
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		padding-top: 6px;
		padding-bottom: 20px;
	}
	.msrm-wrap .button-wrap{
		text-align: center;
	}
	.msrm-wrap .msrm-wrapper-content {
		padding: 30px 0;
	}
	footer .copyright {
		padding: 16px 0 16px 0;
		margin-top: 26px;
	}
	footer .copyright p {
		font-size: 14px;
		margin-right: 0;
	}
	footer .wrap {
		flex-direction: column;
	}
	footer .left .img-wrap{
		width: 100%;
		margin: 0 auto;
		margin-bottom: 24px;
	}
	footer {
		padding-top: 30px;
	}
	footer .left .img-wrap {
		margin-top: 0px;
	}
	footer .social {
		justify-content: center;
		margin-top: 0;
	}
}	